.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 40px;
}

.combo__image {
  border-radius: 6px;
  border: 0.6px solid rgba(128, 128, 128, 0.516);
  background-size: cover;
  transition: all 0.5s;
}
.combo__image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.combo__title {
  color: var(--text-color-black);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size24);
  text-transform: uppercase;
  margin: 20px 0 5px 0;
}

.combo__number {
  color: var(--text-color-black);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size12);
}
