.wrapper {
  width: 100%;
  background-image: url("../../../assets/images/bgFooter.jpg");
  background-size: cover;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 50px 10px;
}

.footer__left {
  display: flex;
  flex-direction: column;
  line-height: 2;
  color: var(--text-color-white);
}

.footer__companyName {
  font-size: var(--font-size18);
}

.footer__companyLocation,
.footer__companyPhone,
.footer__companyEmail,
.footer__companyWebsite,
.footer__companyConnect {
  font-size: var(--font-size16);
  margin-bottom: 10px;
}

.footer__companyConnectButtons {
  display: flex;
  font-size: var(--font-size24);
}

.footer__companyConnectButton {
  margin: 0 10px;
}

.footer__companyConnectButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

.footer__companyCheckedImg {
  height: 57px;
  background-image: url(../../../assets/images/bct.png);
  background-repeat: no-repeat;
  margin-top: 20px;
}

.footer__right {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 2;
  color: var(--text-color-white);
}

.footer__help {
  font-size: var(--font-size18);
  margin-bottom: 10px;
}

.footer__hotLine,
.footer__email {
  font-size: var(--font-size16);
  margin-bottom: 10px;
}

.footer__number {
  font-size: var(--font-size20);
  color: #00f9ff;
}

.footer__work {
  font-size: var(--font-size16);
  margin-bottom: 10px;
}

.footer__workTime,
.footer__login {
  font-size: var(--font-size16);
}

.footer__loginInput {
  font-size: var(--font-size18);
  margin-top: 20px;
}

.footer__sendEmail {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #00f9ff;
  border-radius: 6px;
}

.footer__input {
  flex: 1;
  padding: 0 0 0 10px;
  border: none;
  font-size: var(--font-size18);
  color: var(--text-color-white);
  background-color: transparent;
}

.footer__input:focus {
  outline: none;
}

.footer__sendEmailIcon {
  font-size: var(--font-size20);
  color: #00f9ff;
  padding: 10px 10px;

  &.footer__sendEmailIcon:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

@media (max-width: 1200px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer__right {
    margin-top: 50px;
    justify-content: center;
  }
}
