.wrapper {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  width: 100%;
  background-color: #0e0e0e;
}

.logo {
  width: 160px;
  height: 94px;
  margin: 0 0 0 50px;
  background-image: url("../../../assets/images/logo.png");
  background-repeat: no-repeat;
}

.sidenav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 100px 0 auto;
}

.sidenav__item {
  padding: 10px;
  font-size: var(--font-size16);
  font-weight: var(--font-weight-light);
  color: var(--text-color-white);
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
    color: var(--text-color-white);
  }
}

.sidenav__responsive {
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 99;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  line-height: 2;
  width: 100%;
  height: auto;
  transition: all 0.5s;
  // display: none;
}

.sidenav__responsive.open {
  display: flex;
  flex-direction: column;
}

.sivenav__media {
  display: none;
  position: absolute;
  top: 30px;
  left: 20px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.sivenav__mediaBtn {
  color: var(--text-color-white);
  font-size: var(--font-size32);
}

@media (max-width: 1023px) {
  .wrapper {
    display: flex;
    justify-content: space-around;
  }
  .sidenav {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  // .sivenav__media {
  //   display: block;
  // }
  // .sidenav {
  //   display: none;
  // }

  .logo {
    display: none;
  }
}
