.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
}

.logo__img {
  width: 160px;
  height: 100px;
  margin: 0 0 0 50px;
  background-image: url("../../../assets/images/logo.png");
  background-repeat: no-repeat;
}

.sidenav {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.sidenav__item {
  padding: 10px;
  font-size: var(--font-size16);
  font-weight: var(--font-weight-light);
  color: var(--text-color-black);
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
    color: var(--text-color-black);
  }
}

.responsive {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  width: 321px;
  max-width: 100%;
  background-color: #fff;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform linear 0.2s, opacity linear 0.2s;
}

.sidenav__responsive {
  display: flex;
  flex-direction: column;
}

.sidenav__responsiveCloseBtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--font-size32);
  color: var(--text-color-white);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #3dc2b5;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.sidenav__responsiveItem {
  margin: 20px 20px;
  font-size: var(--font-size16);
  font-weight: var(--font-weight-medium);
  color: var(--text-color-black);
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
  }
}

.sivenav__media {
  display: none;
  position: absolute;
  text-align: left;
  left: 0px;
  background-color: #3dc2b5;
  border-radius: 5px;
  padding: 5px;
}

.sivenav__mediaBtn {
  color: var(--text-color-white);
  font-size: var(--font-size24);
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.sidenav__responsiveInput:checked ~ .responsive {
  opacity: 1;
  transform: translateX(0%);
}
.sidenav__responsiveInput:checked ~ .sidenav__overlay {
  display: block;
}
.sidenav__overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  animation: fadeIn linear 0.2s;
}

// responsive mobile
@media (max-width: 739px) {
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .sidenav {
    display: none;
  }

  .sivenav__media {
    display: block;
    margin-left: 20px;
  }
  .logo__img {
    justify-content: center;
    margin: 0;
  }
  .responsive {
    width: 100%;
    bottom: auto;
  }
  .sidenav__responsive {
    align-items: center;
  }
}

//responsive tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .sidenav {
    display: none;
  }

  .sivenav__media {
    display: block;
    margin-left: 10px;
  }
  .logo__img {
    justify-content: center;
    margin: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
