@import "normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --primary: 0, 0, 0;
  --text-color-black: #333;
  --text-color-white: #fff;

  --font-size12: 12px;
  --font-size14: 14px;
  --font-size16: 16px;
  --font-size18: 18px;
  --font-size20: 20px;
  --font-size24: 24px;
  --font-size32: 32px;

  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--system-14-font-size);
  line-height: var(--system-14-line-height);
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
}
