.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.banner__img {
  width: 100%;
  height: 200px;
  align-items: center;
  background-image: url("../../assets/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.banner {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.banner__title {
  color: var(--text-color-white);
  font-size: var(--font-size32);
  font-weight: var(--font-weight-medium);
  margin: 50px auto;
  text-transform: uppercase;
  text-shadow: 2px 2px 7px #000000;
}
